
#border{
    /* width: 50%;
    height: 400%; 
background-size: cover;
background-position: center;
    color:crimson;
    background-image: url(https://images.unsplash.com/photo-1593642532871-8b12e02d091c?ixid=MXwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-style: dashed;
    border-color: brown;
    padding: 50px ;
    padding-right: 50px;
    margin-top: 20px;*/
    .myDiv {
        border: 5px outset red;
        background-color: red;
        text-align: center;

}