body{
    margin: 0%;
    padding: 0%;
}

#div1{
    
    background-image: url(photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 592px;
}
th{
    padding: 20px;
    text-align: center;
   font-size:20px ;
}

#div2{
    height: 60px;
    background-color: teal;
    padding:20px  ;
}
#marquee{
    width: 250px;
    height: 800px;

}
.td{
    text-decoration: none;
    color: white;
}

