*{
    padding: 0%;
    margin: 0;
    list-style-type: none;
}
body{
background-image: url(tree.jpg);
}
#heading{
    padding-left: 50px;
    color:orangered;
}
.info{
    color: white;
}
.submit{
    padding:5px 5px;
}
#infobox{
    border: 2px black;
    backface-visibility:visible;
}
#submit{
    margin-top: 15px;
}